In [7]:
import pandas as pd
import numpy as np

In [8]:
vine = "C:/Users/Perry/Documents/GitHub/Amazon_Vine_Analysis/vine_table.csv"
vine_df = pd.read_csv(vine, encoding='latin1', names = ["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
low_memory = False

In [10]:
vine_df.head()

        review_id star_rating helpful_votes total_votes vine verified_purchase
0   REAKC26P07MDN           5             0           0    N                 Y
1  R3NU7OMZ4HQIEG           2             0           1    N                 Y
2  R14QJW3XF8QO1P           5             0           0    N                 Y
3  R2HB7AX0394ZGY           5             0           0    N                 Y
4   RGKMPDQGSAHR3           5             0           0    N                 Y

In [12]:
len(vine_df)

2643619

In [13]:
vine_df.dtypes

review_id            object
star_rating          object
helpful_votes        object
total_votes          object
vine                 object
verified_purchase    object
dtype: object

In [16]:
vine_df["star_rating"].dropna

<bound method Series.dropna of 0          5
1          2
2          5
3          5
4          5
          ..
2643614    1
2643615    5
2643616    3
2643617    3
2643618    2
Name: star_rating, Length: 2643619, dtype: object>

In [17]:
len(vine_df)

2643619

In [21]:
vine_df["star_rating"].value_counts()

5     1393801
4      329545
5      251752
1      212980
3      184589
2      129488
4       51735
1       35883
3       32046
2       21795
\N          5
Name: star_rating, dtype: int64

In [31]:
vine_df2 = vine_df[vine_df['star_rating']!='\\N']
vine_df2['star_rating'] = vine_df2['star_rating'].astype(float)
vine_df2

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0,0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0,1,N,Y
2,R14QJW3XF8QO1P,5.0,0,0,N,Y
3,R2HB7AX0394ZGY,5.0,0,0,N,Y
4,RGKMPDQGSAHR3,5.0,0,0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32,34,N,N
2643615,R13RP6H1OP0BFS,5.0,3,3,N,N
2643616,R34ITLN8LBTFZN,3.0,48,56,N,N
2643617,R30D2N6TX0OFS,3.0,7,7,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17,20,N,Y

In [32]:
vine_df3 = vine_df[vine_df['helpful_votes']!='\\N']
vine_df3['helpful_votes'] = vine_df3['helpful_votes'].astype(float)
vine_df3

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5,0.0,0,N,Y
1,R3NU7OMZ4HQIEG,2,0.0,1,N,Y
2,R14QJW3XF8QO1P,5,0.0,0,N,Y
3,R2HB7AX0394ZGY,5,0.0,0,N,Y
4,RGKMPDQGSAHR3,5,0.0,0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1,32.0,34,N,N
2643615,R13RP6H1OP0BFS,5,3.0,3,N,N
2643616,R34ITLN8LBTFZN,3,48.0,56,N,N
2643617,R30D2N6TX0OFS,3,7.0,7,N,Y
2643618,R2MAGOAOXPFMF1,2,17.0,20,N,Y

In [33]:
vine_df4 = vine_df[vine_df['total_votes']!='\\N']
vine_df4['total_votes'] = vine_df4['total_votes'].astype(float)
vine_df4

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5,0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2,0,1.0,N,Y
2,R14QJW3XF8QO1P,5,0,0.0,N,Y
3,R2HB7AX0394ZGY,5,0,0.0,N,Y
4,RGKMPDQGSAHR3,5,0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1,32,34.0,N,N
2643615,R13RP6H1OP0BFS,5,3,3.0,N,N
2643616,R34ITLN8LBTFZN,3,48,56.0,N,N
2643617,R30D2N6TX0OFS,3,7,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2,17,20.0,N,Y

In [34]:
vine_df5 = vine_df[vine_df['vine']!='\\N']
vine_df5['vine'] = vine_df5['vine'].astype(bool)
vine_df5

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5,0,0,True,Y
1,R3NU7OMZ4HQIEG,2,0,1,True,Y
2,R14QJW3XF8QO1P,5,0,0,True,Y
3,R2HB7AX0394ZGY,5,0,0,True,Y
4,RGKMPDQGSAHR3,5,0,0,True,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1,32,34,True,N
2643615,R13RP6H1OP0BFS,5,3,3,True,N
2643616,R34ITLN8LBTFZN,3,48,56,True,N
2643617,R30D2N6TX0OFS,3,7,7,True,Y
2643618,R2MAGOAOXPFMF1,2,17,20,True,Y

In [41]:
vine_df_clean = vine_df[vine_df['verified_purchase']!='\\N']
vine_df_clean['total_votes'] = vine_df_clean['total_votes'].astype(float)
vine_df_clean['helpful_votes'] = vine_df_clean['helpful_votes'].astype(float)
vine_df_clean['star_rating'] = vine_df_clean['star_rating'].astype(float)
vine_df_clean['verified_purchase'] = vine_df_clean['verified_purchase'].astype(bool)
vine_df_clean['vine'] = vine_df_clean['vine'].astype(bool)
vine_df_clean

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,True,True
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,True,True
2,R14QJW3XF8QO1P,5.0,0.0,0.0,True,True
3,R2HB7AX0394ZGY,5.0,0.0,0.0,True,True
4,RGKMPDQGSAHR3,5.0,0.0,0.0,True,True
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,True,True
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,True,True
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,True,True
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,True,True
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,True,True

In [44]:
vine_df_clean[vine_df_clean['total_votes']>=20.0]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,True,True
161,RX9WC9FTIR1XR,5.0,25.0,25.0,True,True
256,RGDCOU1KBHMNG,3.0,29.0,31.0,True,True
267,RVTYWID2TPMMY,2.0,35.0,42.0,True,True
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,True,True
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,True,True
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,True,True
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,True,True
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,True,True
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,True,True

In [45]:
vine_df_clean_filtered_total_votes = vine_df_clean[vine_df_clean['total_votes']>=20.0]

In [49]:
vine_df_clean_filtered_total_votes.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                    bool
verified_purchase       bool
dtype: object

In [54]:
vine_df_clean_filtered_total_votes['ratio'] = vine_df_clean_filtered_total_votes['helpful_votes']/vine_df_clean_filtered_total_votes['total_votes']
vine_df_clean_filtered_total_votes[vine_df_clean_filtered_total_votes['ratio']>=0.5]

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
128,R21KC552Y6HL8X,1.0,27.0,31.0,True,True,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,True,True,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,True,True,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,True,True,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,True,True,0.964286
...,...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,True,True,0.770492
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,True,True,0.983051
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,True,True,0.941176
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,True,True,0.857143
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,True,True,0.850000

In [57]:
vine_df_clean_filtered_total_votes_ratio = vine_df_clean_filtered_total_votes[vine_df_clean_filtered_total_votes['ratio']>= 0.5]

In [58]:
vine_df_clean_filtered_total_votes_ratio

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
128,R21KC552Y6HL8X,1.0,27.0,31.0,True,True,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,True,True,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,True,True,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,True,True,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,True,True,0.964286
...,...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,True,True,0.770492
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,True,True,0.983051
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,True,True,0.941176
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,True,True,0.857143
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,True,True,0.850000