In [115]:
import pandas as pd
import numpy as np

In [116]:
vine = "C:/Users/Perry/Documents/GitHub/Amazon_Vine_Analysis/vine_table.csv"
vine_df = pd.read_csv(vine, encoding='latin1', names = ["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [117]:
vine_df['vine'].value_counts()

N     2633399
Y       10215
\N          5
Name: vine, dtype: int64

In [118]:
low_memory = False

In [119]:
vine_df.head()

        review_id star_rating helpful_votes total_votes vine verified_purchase
0   REAKC26P07MDN           5             0           0    N                 Y
1  R3NU7OMZ4HQIEG           2             0           1    N                 Y
2  R14QJW3XF8QO1P           5             0           0    N                 Y
3  R2HB7AX0394ZGY           5             0           0    N                 Y
4   RGKMPDQGSAHR3           5             0           0    N                 Y

In [120]:
len(vine_df)

2643619

In [121]:
vine_df.dtypes

review_id            object
star_rating          object
helpful_votes        object
total_votes          object
vine                 object
verified_purchase    object
dtype: object

In [122]:
vine_df["star_rating"].dropna

<bound method Series.dropna of 0          5
1          2
2          5
3          5
4          5
          ..
2643614    1
2643615    5
2643616    3
2643617    3
2643618    2
Name: star_rating, Length: 2643619, dtype: object>

In [123]:
len(vine_df)

2643619

In [124]:
vine_df["star_rating"].value_counts()

5     1393801
4      329545
5      251752
1      212980
3      184589
2      129488
4       51735
1       35883
3       32046
2       21795
\N          5
Name: star_rating, dtype: int64

In [125]:
vine_df2 = vine_df[vine_df['star_rating']!='\\N']
vine_df2['star_rating'] = vine_df2['star_rating'].astype(float)
vine_df2

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0,0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0,1,N,Y
2,R14QJW3XF8QO1P,5.0,0,0,N,Y
3,R2HB7AX0394ZGY,5.0,0,0,N,Y
4,RGKMPDQGSAHR3,5.0,0,0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32,34,N,N
2643615,R13RP6H1OP0BFS,5.0,3,3,N,N
2643616,R34ITLN8LBTFZN,3.0,48,56,N,N
2643617,R30D2N6TX0OFS,3.0,7,7,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17,20,N,Y

In [126]:
vine_df3 = vine_df[vine_df['helpful_votes']!='\\N']
vine_df3['helpful_votes'] = vine_df3['helpful_votes'].astype(float)
vine_df3

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5,0.0,0,N,Y
1,R3NU7OMZ4HQIEG,2,0.0,1,N,Y
2,R14QJW3XF8QO1P,5,0.0,0,N,Y
3,R2HB7AX0394ZGY,5,0.0,0,N,Y
4,RGKMPDQGSAHR3,5,0.0,0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1,32.0,34,N,N
2643615,R13RP6H1OP0BFS,5,3.0,3,N,N
2643616,R34ITLN8LBTFZN,3,48.0,56,N,N
2643617,R30D2N6TX0OFS,3,7.0,7,N,Y
2643618,R2MAGOAOXPFMF1,2,17.0,20,N,Y

In [127]:
vine_df4 = vine_df[vine_df['total_votes']!='\\N']
vine_df4['total_votes'] = vine_df4['total_votes'].astype(float)
vine_df4

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5,0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2,0,1.0,N,Y
2,R14QJW3XF8QO1P,5,0,0.0,N,Y
3,R2HB7AX0394ZGY,5,0,0.0,N,Y
4,RGKMPDQGSAHR3,5,0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1,32,34.0,N,N
2643615,R13RP6H1OP0BFS,5,3,3.0,N,N
2643616,R34ITLN8LBTFZN,3,48,56.0,N,N
2643617,R30D2N6TX0OFS,3,7,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2,17,20.0,N,Y

In [128]:
vine_df5 = vine_df[vine_df['vine']!='\\N']
vine_df5['vine'] = vine_df5['vine'].astype(bool)
vine_df5

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5,0,0,True,Y
1,R3NU7OMZ4HQIEG,2,0,1,True,Y
2,R14QJW3XF8QO1P,5,0,0,True,Y
3,R2HB7AX0394ZGY,5,0,0,True,Y
4,RGKMPDQGSAHR3,5,0,0,True,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1,32,34,True,N
2643615,R13RP6H1OP0BFS,5,3,3,True,N
2643616,R34ITLN8LBTFZN,3,48,56,True,N
2643617,R30D2N6TX0OFS,3,7,7,True,Y
2643618,R2MAGOAOXPFMF1,2,17,20,True,Y

In [129]:
vine_df_clean = vine_df[vine_df['verified_purchase']!='\\N']
vine_df_clean['total_votes'] = vine_df_clean['total_votes'].astype(float)
vine_df_clean['helpful_votes'] = vine_df_clean['helpful_votes'].astype(float)
vine_df_clean['star_rating'] = vine_df_clean['star_rating'].astype(float)
vine_df_clean['verified_purchase'] = vine_df_clean['verified_purchase'].apply(lambda x: True if x == 'Y' else False)
vine_df_clean['vine'] = vine_df_clean['vine'].apply(lambda x: True if x == 'Y' else False)
vine_df_clean

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,False,True
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,False,True
2,R14QJW3XF8QO1P,5.0,0.0,0.0,False,True
3,R2HB7AX0394ZGY,5.0,0.0,0.0,False,True
4,RGKMPDQGSAHR3,5.0,0.0,0.0,False,True
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,False,False
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,False,False
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,False,False
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,False,True
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,False,True

In [130]:
vine_df_clean['vine'].value_counts()

False    2633399
True       10215
Name: vine, dtype: int64

In [131]:
vine_df_clean[vine_df_clean['total_votes']>=20.0]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,False,True
161,RX9WC9FTIR1XR,5.0,25.0,25.0,False,True
256,RGDCOU1KBHMNG,3.0,29.0,31.0,False,True
267,RVTYWID2TPMMY,2.0,35.0,42.0,False,True
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,False,True
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,False,False
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,False,False
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,False,False
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,False,False
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,False,True

In [132]:
vine_df_clean_filtered_total_votes = vine_df_clean[vine_df_clean['total_votes']>=20.0]

In [133]:
vine_df_clean_filtered_total_votes.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                    bool
verified_purchase       bool
dtype: object

In [134]:
vine_df_clean_filtered_total_votes['ratio'] = vine_df_clean_filtered_total_votes['helpful_votes']/vine_df_clean_filtered_total_votes['total_votes']
vine_df_clean_filtered_total_votes[vine_df_clean_filtered_total_votes['ratio']>=0.5]

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
128,R21KC552Y6HL8X,1.0,27.0,31.0,False,True,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,False,True,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,False,True,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,False,True,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,False,True,0.964286
...,...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,False,False,0.770492
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,False,False,0.983051
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,False,False,0.941176
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,False,False,0.857143
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,False,True,0.850000

In [135]:
vine_df_clean_filtered_total_votes_ratio = vine_df_clean_filtered_total_votes[vine_df_clean_filtered_total_votes['ratio']>= 0.5]

In [136]:
vine_df_clean_filtered_total_votes_ratio

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
128,R21KC552Y6HL8X,1.0,27.0,31.0,False,True,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,False,True,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,False,True,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,False,True,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,False,True,0.964286
...,...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,False,False,0.770492
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,False,False,0.983051
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,False,False,0.941176
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,False,False,0.857143
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,False,True,0.850000

In [137]:
vine_df_clean_filtered_total_votes_ratio_paid = vine_df_clean_filtered_total_votes_ratio[vine_df_clean_filtered_total_votes_ratio['vine'] == True]
vine_df_clean_filtered_total_votes_ratio_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,True,False,0.900000
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,True,False,1.000000
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,True,False,0.928571
46422,R2MHP919VZN7DI,5.0,29.0,30.0,True,False,0.966667
66446,RD2BCTVS59A5L,2.0,20.0,20.0,True,False,1.000000
...,...,...,...,...,...,...,...
2596353,RV5OQXGCYHSC6,5.0,24.0,28.0,True,False,0.857143
2596519,R2XLAQL0E2UPWQ,4.0,33.0,34.0,True,False,0.970588
2597336,R2UJFVH97OJORD,3.0,106.0,117.0,True,False,0.905983
2597830,RJXG84I331N9T,3.0,146.0,154.0,True,False,0.948052
2598196,RNGRV0353CDWX,4.0,109.0,115.0,True,False,0.947826

In [138]:
vine_df_clean_filtered_total_votes_ratio_unpaid = vine_df_clean_filtered_total_votes_ratio[vine_df_clean_filtered_total_votes_ratio['vine'] == False]
vine_df_clean_filtered_total_votes_ratio_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,ratio
128,R21KC552Y6HL8X,1.0,27.0,31.0,False,True,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,False,True,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,False,True,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,False,True,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,False,True,0.964286
...,...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,False,False,0.770492
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,False,False,0.983051
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,False,False,0.941176
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,False,False,0.857143
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,False,True,0.850000

In [139]:
total_paid = len(vine_df_clean_filtered_total_votes_ratio_paid)
total_paid

170

In [140]:
total_unpaid = len(vine_df_clean_filtered_total_votes_ratio_unpaid)
total_unpaid

37840

In [145]:
total_paid_5_star_df = vine_df_clean_filtered_total_votes_ratio_paid[vine_df_clean_filtered_total_votes_ratio_paid['star_rating'] == 5]
total_paid_5_star_df
total_paid_5_star = len(total_paid_5_star_df)
total_paid_5_star

65

In [142]:
total_unpaid_5_star_df = vine_df_clean_filtered_total_votes_ratio_unpaid[vine_df_clean_filtered_total_votes_ratio_unpaid['star_rating'] == 5]
total_unpaid_5_star_df
total_unpaid_5_star = len(total_unpaid_5_star_df)
total_unpaid_5_star

20612

In [143]:
percent_5_star_paid = len(total_paid_5_star_df)/len(vine_df_clean_filtered_total_votes_ratio_paid)
percent_5_star_paid

0.38235294117647056

In [144]:
percent_5_star_unpaid = len(total_unpaid_5_star_df)/len(vine_df_clean_filtered_total_votes_ratio_unpaid)
percent_5_star_unpaid

0.5447145877378435