In [7]:
import pandas as pd
import numpy as np

In [8]:
vine = "C:/Users/Perry/Documents/GitHub/Amazon_Vine_Analysis/vine_table.csv"
vine_df = pd.read_csv(vine, encoding='latin1', names = ["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
low_memory = False

In [10]:
vine_df.head()

        review_id star_rating helpful_votes total_votes vine verified_purchase
0   REAKC26P07MDN           5             0           0    N                 Y
1  R3NU7OMZ4HQIEG           2             0           1    N                 Y
2  R14QJW3XF8QO1P           5             0           0    N                 Y
3  R2HB7AX0394ZGY           5             0           0    N                 Y
4   RGKMPDQGSAHR3           5             0           0    N                 Y

In [12]:
len(vine_df)

2643619